*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

/* Important: Contains the styling for the navigation-bars containers which contains side-navigation bar and the normal navigation bar */
.navigation-bars-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: auto;
    /* transform: translateX(100px); */
}

/* Important: Making of the <nav> bar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: bisque;
    padding: 10px 25px;
    border-radius: 4px;
    margin: 20px 0px;
}

/* Theory: Making the <ul> items as the flex items for the manipulation in 1D only */
.navigation-bar ul{
    display: flex;
}

/* Theory: Giving some property to the li items */
.navigation-bar ul li{
    /* width: 100%; */
    list-style-type: none;
    /* padding: 0px 16px; */
    margin: 0px 16px;
    cursor: pointer;
}

li, .logo, .contact-us{
    transition: transform 0.25s ease;
    cursor: pointer;
}

/* Theory: Using the transform property on the <li> for some basic animation */
.navigation-bar ul li:hover, .contact-us:hover, .logo:hover{
    transform: scale(1.1);
}