* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Error ----------------------------------------------------- Roles Container (Admin, Student, Verifier) ------------------------------------------*/

.roles-container {
  /* Fix: Give this margin when in full mode */
  margin: 80px auto 0px auto;

  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.admin,
.student,
.verifier {
  position: relative;
  z-index: 1;

  height: auto;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: 4px;
  border: 4px solid black;

  margin: 0px 15px;
  background-color: white;

  /* gap: 30px 0px; */
}

/* Error ------------------------------------------------------------------- Image Container --------------------------------------------------------------- */

.image-container {
  width: 100%;
  /* height: 400px; */
  position: relative;
  z-index: 1;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* z-index: 2; */
}

/* Error ------------------------------------------------------------------- Content Container ------------------------------------------------------------- */

.content-container {
  width: 100%;
  background-color: rgb(251, 251, 255);
  z-index: 3;
}

.content-container p {
  width: 90%;
  margin: auto;
  padding: 0px;
}

.content-container .admin-content-heading,
.student-content-heading,
.verifier-content-heading {
  background-color: inherit;

  position: relative;
  z-index: 2;

  font-size: 30px;
  text-align: center;

  width: 100%;
}

/* Error ----------------------------------------------------------------------- Admin Cotnent ------------------------------------------------------ */

.admin-backdrop-filter {
  position: absolute;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.4);
}

.admin-content {
  position: relative;
  max-height: 0px;
  z-index: 0;

  transform: translateY(-300px);
  transition: max-height 0.5s, transform 0.5s, visibility 0.2s;

  visibility: hidden;
}

.admin:hover .admin-content {
  /* background-color: rgb(251, 251, 255); */
  max-height: 600px;
  transform: translateY(0px);
  visibility: visible;
}

.admin:hover .admin-backdrop-filter {
  height: 100%;
  width: 100%;
}

/* Error ----------------------------------------------------------------------- Student Cotnent ------------------------------------------------------ */

.student-backdrop-filter {
  position: absolute;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.4);
}

.student-content {
  position: relative;
  max-height: 0px;
  z-index: 0;

  transform: translateY(-300px);
  transition: max-height 0.5s, transform 0.5s, visibility 0.2s;

  visibility: hidden;
}

.student:hover .student-content {
  max-height: 600px;
  transform: translateY(0px);

  visibility: visible;
}

.student:hover .student-backdrop-filter {
  height: 100%;
  width: 100%;
}

/* Error ----------------------------------------------------------------------- Verfier Content ------------------------------------------------------ */

.verifier-backdrop-filter {
  position: absolute;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.4);
}

.verifier-content {
  position: relative;
  max-height: 0px;
  z-index: 0;

  transform: translateY(-300px);
  transition: max-height 0.5s, transform 0.5s, visibility 0.2s;

  visibility: hidden;
}

.verifier:hover .verifier-content {
  max-height: 600px;
  transform: translateY(0px);

  visibility: visible;
}

.verifier:hover .verifier-backdrop-filter {
  height: 100%;
  width: 100%;
}

/* Error --------------------------------------------------------------------- Admin Button Container ------------------------------------------------------------- */
.admin-button-container {
  position: absolute;
  top: 25%;
  z-index: 3;

  display: none;
}

.admin-button-container button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 20px;
}

.admin:hover .admin-button-container{
    display: block;
}

/* Error --------------------------------------------------------------------- Student Button Container ------------------------------------------------------------- */

.student-button-container {
  position: absolute;
  top: 25%;
  z-index: 3;

  display: flex;
  gap: 0px 10px;

  display: none;
}

.student-button-container button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 20px;
}

.student:hover .student-button-container{
    display: flex;
}
/* Error --------------------------------------------------------------------- Verifier Button Container ------------------------------------------------------------- */

.verifier-button-container {
  position: absolute;
  top: 25%;
  z-index: 3;

  display: none;
}

.verifier-button-container button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 20px;
}

.verifier:hover .verifier-button-container{
    display: block;
}

/* Error -------------------------------------------------------------------- Media Queries ------------------------------------------------------------------ */

@media (max-width: 768px) {
  .roles-container {
    height: auto;
    margin: 0px auto;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .admin,
  .student,
  .verifier {
    height: auto;
    width: 75%;
    min-width: 200px;
    margin: 15px 0px;
  }
}
