<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/400/styles.css">
    <title>404 - KEBER</title>
</head>

<body>

    <div class="image-content-container">

        <div class="image-container">
            <img src="./images/400/Oops! 404 Error with a broken robot-rafiki.svg"
                alt="Broken robot signifying broken page">
        </div>

        <div class="content-container">
            <h2>404</h2>
            <p>Page Not found</p>
        </div>

    </div>


</body>

</html>