<!-- References => https://www.w3schools.com/howto/howto_js_sidenav.asp -->
<!-- References => https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp -->
<!-- References (Scrolling) => https://javascript.info/onscroll -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Keber</title>

    <!-- Important: Linking the font-awesome kit for importing the icons -->
    <script src="https://kit.fontawesome.com/2243876fca.js" crossorigin="anonymous"></script>

    <!-- Important: Importaing the fonts from the Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Test: Linking the ScrollMagic CDN File for using the Scroll Magic Plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" defer></script>

    <!-- Theory: For the verifier page -->
    <link rel="stylesheet" href="./styles/verifier/styles.css">

    <!-- Theory: For the scrolling up button fixed at bottom -->
    <link rel="stylesheet" href="./styles/Scroll To Top/styles.css">

    <!-- Theory: Linking the CSS files for the Footer -->
    <link rel="stylesheet" href="./styles/Footer/styles.css">
    <link rel="stylesheet" href="./styles/Footer/social-media-icons.css">
    <link rel="stylesheet" href="./styles/Footer/responsive-code.css">

    <!-- Theory: Linking the CSS files for navigation bar -->
    <link rel="stylesheet" href="./styles/Navigation Bar/navigation-bar.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/side-navigation-bar.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/side-navigation-bar-content.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/backdrop-filter.css">


    <!-- Important: Using the JS file for the Scrolling to top -->
    <script src="./scripts/Scroll To Top/app.js" defer></script>

    <!-- Important: Using the JS file for knowing the current page -->
    <script src="./scripts/Navigation Bar/current_page_tell_horizontal_navigation_bar.js" defer></script>
    <!-- <script src="./scripts/Navigation Bar/current_page_tell_side_navigation_bar.js" defer></script> -->

    <!-- Important: Using the JS file for the Split screene Parallax -->
    <!-- <script src="./scripts/Split Screen Parallax/app.js" defer></script> -->

    <!-- Important: As we are using script in <head> so it is important to makke it defer -->
    <script src="./scripts/Navigation Bar/toggle-hamburger-icon-bring-side-nav-bar.js" defer></script>
    <!-- <script src="./scripts/Navigation Bar/hide-show-horizontal-navigation-bar.js" defer></script> -->

    <!-- Important: To make the navbar change the color -->
    <script src="./scripts/Navigation Bar/change_color_navbar.js" defer></script>

    <!-- Important: AJax request for the Newsletter -->
    <script src="./scripts/Footer/newsletter.js" defer></script>

    <!-- Theory: Linking the CSS, JS files -->
    <link rel="stylesheet" href="./styles/faq/styles.css">
    <!-- Important: Don't forget to use "defer" when using <script> in <head> -->
    <script src="./scripts/faq/app.js" defer></script>

</head>

<body>

    <!-- Error ----------------------------------------------------- Side Navigation Bar Section ------------------------------------------------------------ -->
    <div id="backdrop-filter"></div>

    <!-- Theory: Including the side-navigation Partials using the EJS -->
    <%- include("includes/side-navigation-bar", {}) %>

    <!-- Error --------------------------------------------------------- Hamburger Icon Section ---------------------------------------------------------------- -->
    <!-- Theory: To move the content when clicked on hamburger icon -->
    <div class="animation">
        <!-- Theory: Including the side-navigation-bar-header Partials using the EJS -->
        <%- include("includes/side-navigation-bar-header", {}) %>

        <!-- Error ---------------------------------------------------- Horizontal Navigation Bar ---------------------------------------------------------------- -->
        <!-- Theory: Including the header Partials using the EJS -->
        <%- include("includes/header", {}) %>

        <!-- Error -------------------------------------------------------------- Admin login --------------------------------------------------------------------->

        <!-- Todo: Create a FAQ based on => https://dribbble.com/shots/14910012-Daily-UI-FAQ -->
        <div class="faq-container">
            <!-- <h1>FAQs</h1> -->
        
            <div class="svg-faq-container-content">
                <div class="svg">
                    <img src="./images/faq/FAQs-pana-cropped.svg" alt="FAQ section">
                    <!-- hi -->
                </div>
        
                <div class="content">
                    <!-- Theory: Unordered questions for the FAQs -->
                    <h1>FAQs</h1>
                    <ul>
                        <li>
        
                            <div class="question-button-toggle">
                                <p class="question">Can only admin upload the results ? 
                                </p>
                                <button class="button">+</button>
                            </div>
        
                            <div class="answer">Yes, only admin can upload the result</div>
                        </li>

                        <li>
                        
                            <div class="question-button-toggle">
                                <p class="question">
                                    Can we create an account for the admin ?
                                </p>
                                <button class="button">+</button>
                            </div>
                        
                            <div class="answer">No you cannot, we have some predefined admins</div>
                        </li>
        
                        <li>
        
                            <div class="question-button-toggle">
                                <p class="question">
                                    Do we need to create a account before viewing our result ? 
                                </p>
                                <button class="button">+</button>
                            </div>
        
                            <div class="answer">Yes you need to create your account to view/ download your result</div>
                        </li>

                        
        
                        <li>
        
                            <div class="question-button-toggle">
                                <p class="question">
                                    What all things are required to verify the authencity of result ? 
                                </p>
        
                                <button class="button">+</button>
                            </div>
        
                            <div class="answer">To verify the result, you need student's roll number, semester number and the result itself</div>
                        </li>
        
                        <li>
        
                            <div class="question-button-toggle">
                                <p class="question">
                                    Have more questions for us ?
                                </p>
                                <button class="button">+</button>
                            </div>
        
                            <div class="answer">Visit the contact us for more queries 
                            </div>
                        </li>
                    </ul>
        
                </div>
        
            </div>
        
        </div>

        <!-- Error -------------------------------------------------------------- Footer Section ------------------------------------------------------------------->

        <!-- Theory: Including the footer Partials using the EJS -->
        <%- include("includes/footer", {}) %>
    </div>

    <div class="move-to-top">
        <i class="fas fa-angle-double-up"></i>
    </div>
</body>

</html>