<!-- References => https://www.w3schools.com/howto/howto_js_sidenav.asp -->
<!-- References => https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp -->
<!-- References (Scrolling) => https://javascript.info/onscroll -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEBER</title>

    <!-- Important: Linking the font-awesome kit for importing the icons -->
    <script src="https://kit.fontawesome.com/2243876fca.js" crossorigin="anonymous"></script>

    <!-- Important: Importaing the fonts from the Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Test: Linking the ScrollMagic CDN File for using the Scroll Magic Plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" defer></script>

    <!-- Theory: Linking the CSS files for the Roles Section -->
    <link rel="stylesheet" href="./styles/Roles/styles.css">

    <!-- Theory: Linking the CSS files for the About - US Section (Image Caraousel) -->
    <link rel="stylesheet" href="./styles/Image Caruosel/styles.css">
    <link rel="stylesheet" href="./styles/Image Caruosel/keyframes.css">
    <link rel="stylesheet" href="./styles/Image Caruosel/responsive-code.css">

    <!-- Theory: For the scrolling up button fixed at bottom -->
    <link rel="stylesheet" href="./styles/Scroll To Top/styles.css">

    <!-- Theory: Linking the CSS files for the Split Screen Parallax -->
    <link rel="stylesheet" href="./styles/Split Screen Parallax/styles.css">

    <!-- Theory: Linking the CSS files for the Footer -->
    <link rel="stylesheet" href="./styles/Footer/styles.css">
    <link rel="stylesheet" href="./styles/Footer/social-media-icons.css">
    <link rel="stylesheet" href="./styles/Footer/responsive-code.css">

    <!-- Theory: Linking the CSS files for navigation bar -->
    <link rel="stylesheet" href="./styles/Navigation Bar/navigation-bar.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/side-navigation-bar.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/side-navigation-bar-content.css">
    <link rel="stylesheet" href="./styles/Navigation Bar/backdrop-filter.css">


    <!-- Important: Using the JS file for the Scrolling to top -->
    <script src="./scripts/Scroll To Top/app.js" defer></script>

    <!-- Important: Using the JS file for the Image Caruosel Slideshow -->
    <!-- <script src="./scripts/Image Caruosel/app.js" defer></script> -->

    <!-- Important: Using the JS file for knowing the current page -->
    <script src="./scripts/Navigation Bar/current_page_tell_horizontal_navigation_bar.js" defer></script>
    <script src="./scripts/Navigation Bar/current_page_tell_side_navigation_bar.js" defer></script>

    <!-- Important: Using the JS file for the Split screene Parallax -->
    <!-- <script src="./scripts/Split Screen Parallax/app.js" defer></script> -->

    <!-- Important: As we are using script in <head> so it is important to makke it defer -->
    <script src="./scripts/Navigation Bar/toggle-hamburger-icon-bring-side-nav-bar.js" defer></script>
    <!-- <script src="./scripts/Navigation Bar/hide-show-horizontal-navigation-bar.js" defer></script> -->

    <!-- Important: To make the navbar change the color -->
    <script src="./scripts/Navigation Bar/change_color_navbar.js" defer></script>

</head>

<body>

    <!-- Error ----------------------------------------------------- Side Navigation Bar Section ------------------------------------------------------------ -->
    <div id="backdrop-filter"></div>

    <!-- Theory: Including the side-navigation Partials using the EJS -->
    <%- include("includes/side-navigation-bar", {}) %>

    <!-- Error --------------------------------------------------------- Hamburger Icon Section ---------------------------------------------------------------- -->
    <!-- Theory: To move the content when clicked on hamburger icon -->
    <div class="animation">
        
        <!-- Theory: Including the side-navigation-bar-header Partials using the EJS -->
        <%- include("includes/side-navigation-bar-header", {}) %>

        <!-- Error ---------------------------------------------------- Horizontal Navigation Bar ---------------------------------------------------------------- -->
        <!-- Theory: Including the header Partials using the EJS -->
        <%- include("includes/header", {}) %>

        <!-- Error -------------------------------------------------------------- Roles ----------------------------------------------------------------------- -->

        <div class="roles-container">

            <div class="admin">

                <div class="admin-backdrop-filter"></div>

                <div class="image-container">
                    <img src="./images/Roles/Admin-amico.svg" alt="Admin-image">
                </div>

                <div class="content-container">

                    <div class="admin-content-heading-div">
                        <p class="admin-content-heading">Admin</p>
                    </div>

                    <div class="admin-content-div">
                        <p class="admin-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ex
                            est
                            laudantium ipsum, amet officiis nostrum laboriosam aut consectetur maxime?</p>
                    </div>

                </div>

                <div class="admin-button-container">
                    <a href="/admin-login"><button id="admin-sign-in">Upload Result</button></a>
                </div>

            </div>

            <div class="student">

                <div class="student-backdrop-filter"></div>

                <div class="image-container">
                    <img src="./images/Roles/Learning-cuate.svg" alt="Student-image">
                </div>

                <div class="content-container">

                    <div class="student-content-heading-div">
                        <p class="student-content-heading">Student</p>
                    </div>

                    <div class="student-content-div">
                        <p class="student-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sapiente perferendis non
                            sed
                            blanditiis recusandae eos illo ipsa maxime odit?
                        </p>
                    </div>


                </div>

                <div class="student-button-container">
                    <a href="/student-register"><button class="student-sign-up">Register</button></a>
                    <a href="/student-view-result"><button class="student-sign-in">View Result</button></a>
                </div>

            </div>

            <div class="verifier">

                <div class="verifier-backdrop-filter"></div>

                <div class="image-container">
                    <img src="./images/Roles/Data_security_05-removebg-preview.png" alt="Verfiying results">
                </div>

                <div class="content-container">

                    <div class="verifier-content-heading-div">
                        <p class="verifier-content-heading">Verifier</p>
                    </div>

                    <div class="verifier-content-div">
                        <p class="verifier-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                            quaerat a
                            perspiciatis quidem mollitia iste amet eaque saepe consectetur vel!</p>
                    </div>


                </div>

                <div class="verifier-button-container">
                    <a href="/verifier-verify-result"><button class="verifier-verfiy">Verify Result</button></a>
                </div>

            </div>

        </div>

        <!-- Error -------------------------------------------------------------- Footer Section ------------------------------------------------------------------->

        <!-- Theory: Including the footer Partials using the EJS -->
        <%- include("includes/footer", {}) %>
    </div>

    <div class="move-to-top">
        <i class="fas fa-angle-double-up"></i>
    </div>
</body>

</html>