body {
  background-color: #f6f3f0;
}

main {
  width: 375px;
  margin: 150px auto;
}

#above-form-div {
  margin-bottom: 12px;
}

.above-form {
  margin: 2px;
}

.form-block {
  display: block;
  margin-bottom: 3px;
}

.form-block-pass {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 6px 3px;
}

.give-below-margin {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 6px 3px;
}

#below-password {
  margin: 10px 0px 10px 0px;
}

#terms-of-service {
  margin-left: 22px;
  width: 20px;
}

#sign-up-center {
  padding: 6px 142px;
  border-radius: 5px;
  box-shadow: 0.3px 0.3px black;
}
