html {
  scroll-behavior: smooth;
}

.move-to-top .fas {
  position: fixed;
  bottom: 30px;
  right: 5px;
  font-size: 20px;
  z-index: 5;

  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #604fcd;
  color: white;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-to-top .fas:hover {
  background-color: #3b2a93;
  cursor: pointer;
}

@media (max-width: 768px) {
  .move-to-top .fas{
    bottom: 15px;
    right: 5px;
  }
}
