* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Error ======================================================================================================================================================== */

/* html {
  /* Theory: CSS Varialbes for storing colors */
  /* --bg-color: #ebbe97;
  --form-bg-color: #010001;
  --button-border: #fffffe;
  --heading-section-color: #f2f3f3;
  --list-items-color: #f0f1ec; */
/* } */

/* body {
  background-color: var(--form-bg-color);
  color: var(--list-items-color);
  /* overflow: hidden; */
/* } */ 

/* Error ======================================================================================================================================================== */

/* Fix: footer-container (<div> that contains footer) properties */
.footer-container {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 20px auto;
  position: relative;
  /* background-color: brown; */
}

.footer-container h2 {
  text-align: center;
  padding: 8px 0px;
  border-bottom: 2px solid black;
  font-size: 24px;
}

/* Error ======================================================================================================================================================== */

/* Fix: Contains the styling for the <footer> element like the <heading> and its items*/
footer {
  display: flex;
  justify-content: space-evenly;
  margin: 15px auto 15px auto;
}

footer ul li {
  list-style: none;
  margin: 5px;
  font-size: 16px;
}

.social-media-icons-container{
  display: flex;
  margin: 3px -55px;
}

/* Todo: Styling for the heading of the <section> */
footer h3 {
  display: inline-block;
  margin: 5px;
  /* color: var(--heading-section-color); */
  border-bottom: 1px solid black;
  font-size: 20px;
}

footer p {
  width: 100%;
  font-size: 16px;
  margin: 5px;
  padding: 0px;
}

.footer-newsletter-form{
  display: flex;
}

.footer-newsletter-form #user-email{
  width: 80%;
  margin: 3px 0px 15px 5px;
  padding: 5px;
  font-size: 16px;
  /* background-color: transparent; */
  /* color: white; */
  border: 1px solid black;
}

::placeholder{
  color: black;
  opacity: 0.7;
}

.footer-newsletter-form #submit-button{
  width: 20%;
  margin: 3px 5px 15px 0px;
  padding: 5px;
  font-size: 16px;
  /* background-color: transparent; */
  /* color: white; */
  border: 1px solid black;
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: inherit;
}

/* Error ======================================================================================================================================================== */

/* Fix: Styling for the part that is below the <footer> our copyright section*/
.container {
  border-top: 2px solid black;
  display: flex;
  padding: 8px 0px;
  justify-content: space-evenly;
}

.container button{
  /* background-color: transparent; */
  /* color: white; */
  border: 0px solid black;
  cursor: pointer;
}