/* Important: This is for the hamburger-cross icon animation */

.side-navigation-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.side-navigation-bar-container .heading{

  font: inherit;
  width: 100%;

  text-align: center;
  font-weight: bold;
  
  font-size: 35px;
}

/* Theory: To make the <span> element in 3 bars  */
.side-navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  /* padding: 2.4px; */
  width: 50px;
  height: 40px;
  background-color: #e1ebff;
  border-radius: 4px;
  cursor: pointer;
  /* display: none; */
}

/* Theory: To give each <span> element a fixed width and height for better looking hamburger icons */
.side-navigation-bar span {
  width: 30px;
  height: 2px;
  background-color: #2e57e8;
  margin: 4px auto;
  transition: all 0.5s ease;
}

/* Error ========================================== Animating Hamburger into Cross Icon ============================================================================= */

/* Theory: For the conversion of hamburger icon into the cross icon */
.side-navigation-bar span.bar1 {
  transform: rotate(45deg) translate(4.5px, 2px);
}

.side-navigation-bar span.bar2 {
  display: none;
}

.side-navigation-bar span.bar3 {
  transform: rotate(-45deg) translate(4px, -3px);
}

/* Error ========================================== To move the <body> content to the right when toggled hamburger icon ============================================ */
.move-content-when-toggled-hamburger {
  transform: translateX(160px);
}

.animation {
  transition: all 0.5s ease;
}
