/* ======================== Root Element ================================ */
*{
    /* To remove the margin from all elements */
    margin: 0px 0px;
    /* To remove the padding from all elements */
    padding: 0px 0px;
}

html{
    /* Colors to be used in our webiste using CSS Variables */
    --bg-color: #fffffe; 
    --heading-color: #2b2c34; 
    --text-color: #2b2c34;
    --card-bg-color: #d1d1e9;
    --highlight-color: #6246ea; 

    /* Fonts to be used in our website using CSS Variables */
    --font-size-logo: 24px;
    --font-size-nav-items: 18px;
}

/* ======================== <body> Element ============================== */

body{
    /* To change the background color */
    background-color: var(--bg-color);
    /* To add the same font-family to all the elements */
    font-family: 'Roboto', sans-serif;
    /* To add the colors to all the texts */
    color: var(--text-color);
}

/* ======================== <header> Element ============================ */

#nav-header{
    /* To convert the header into the flex box, so all flex-items come into one box */
    display: flex;
    /* To distribute the space between the flex-items */
    justify-content: space-around;
    /* To align the items at the mid of the cross-axis */
    align-items: center;
    /* To give the margin from the top */
    margin: 15px 0px;
}

#nav-header div{
    /* To bring the <div> content in the center */
    text-align: center;
    /* To give some padding to the content of the <div> */
    padding: 5px 16px;
    /* To change the font-size of the <div> elements */
    font-size: var(--font-size-logo);
    /* To give time for the transition to take effect */
    transition: transform 0.8s ease;
}

#nav-header div:hover{
    /* To scaled the logo when hovered over it */
    transform: scale(1.2);
}

/* ======================== <nav> main Element ======================== */

ul{
    /* To remove the bulleted points */
    list-style: none;
}

#main-nav ul{
    /* To make the main-nav into the flex-container */
    display: flex;
}

#main-nav ul li{
    /* To give the padding to the <li> elements */
    margin: 10px 30px;
    /* To change the font-size of the <li> element content */
    font-size: var(--font-size-nav-items);
    /* To give the time for the transition to take place */
    transition: transform 0.2s ease;
}

#main-nav ul li:hover{
    /* To use the transformation in the <li> while hovering */
    transform: translateY(2px);
}

/* ======================== <nav> corner Element ======================== */

#corner-nav p {
    /* To change the font-size */
    font-size: var(--font-size-nav-items);
    /* To give the time for the transition to take place */
    transition: transform 0.2s ease;
}

#corner-nav p:hover{
    /* To confirm that mouse pointer is over there */
    transform: translateY(2px);
}

/* ======================== <nav> hamburger icon ======================== */

#hamburger-icon{
    /* To make all the <span> visible in the <nav> */
    display: flex;
    /* To change how the flex items are arranged */
    flex-direction: column;
    /* To change the alignemtn about the cross axis of a particular element */
    /* align-self: flex-start; */
    /* To give the fixed height and width to the hamburger icon */
    height: 40px;
    width: 30px;

    /* To utilise the space in the <a> container */
    justify-content: space-evenly;

    /* To don't display the hamburger icon when not in the mobile view */
    display: none;
}

#hamburger-icon span{
    /* To change the height of the <span> element */
    height: 5px;
    /* To set the background color of the span element */
    background-color: var(--card-bg-color);
}

/* ======================== Side-drawer ======================== */


/* ======================== Media Queries ======================== */

@media (max-width: 768px){

    #hamburger-icon{
        /* To display the hamburger icon only when in the mobile view */
        display: flex;
        /* To give the padding to the hamburger icon when in the mobile view */
        padding: 0px 16px;
    }

    #nav-header{
        /* To utilise the space in teh flex box when in mobile view */
        justify-content: space-between;
    }

    #main-nav{
        /* To don't display it when in the mobile view */
        display: none;
    }

    #corner-nav{
        /* To don't display it when in the mobile view */
        display: none;
    }
}