<!-- Testing: Commenting out for testing purpose for mobile view -->
<!-- Important: 4th part Footer (for now) -->
<div class="footer-container">
    <h2>Free trial of 1 month</h2>

    <footer>

        <!-- Important: Contains sign up to newsletter -->
        <section>
            <h3>KEBER</h3>

            <!--Todo: Should contain images about different social media -->
            <ul class="social-media-icons-container">
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i
                            class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i
                            class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
            </ul>
        </section>

        <!-- Important: Contains the services of the website -->
        <section>
            <h3>Services</h3>
            <ul>
                <li>Privacy of Information</li>
                <li>Marks Integrity</li>
            </ul>
        </section>

        <!-- Important: Contains the Roles section (Admin, Student, Verifier) -->
        <section>
            <h3>Roles</h3>
            <ul>
                <li>Admin</li>
                <li>Students</li>
                <li>Verifier</li>
            </ul>
        </section>

        <!-- Important: Contains the informatio of how to use + about us -->
        <section>
            <h3>Information</h3>
            <ul>
                <li>About Us</li>
                <li>How to use</li>
            </ul>
        </section>

        <!-- Important: Contains the form for the subscription -->
        <section>
            <h3>Don't Miss Out</h3>
            <p>Notified first for our products samples, coupons and latest news</p>
            <form action="/newsletter" method="post">
                <div class="footer-newsletter-form">
                    <input type="email" name="useremail" id="user-email" placeholder="Enter Email Address">
                    <button type="submit" id="submit-button">Submit</button>
                </div>
            </form>
        </section>

    </footer>

    <!-- Important: Container which stores the copyright and back to top section -->
    <div class="container">
        <div>© 2022 KEBER</div>
        <button> <a href="#">Back to top &#94;</a> </button>
    </div>

</div>