<!-- Important: 2nd Part Horizontal Navigation Bar -->
<!-- Theory: For making the whole navigation bar -->
<div class="navigation-bars-container">

    <!-- Theory: For making the top navigation bar -->
    <nav class="navigation-bar">
        <div class="logo"> <a href="/">KEBER</a></div>

        <div class="nav-content">
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/about">About Us</a></li> -->
                <li><a href="/roles">Roles</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
        </div>

        <div class="contact-us-container">
            <div class="get-started"><a href="/roles">Get Started <span
                        id="get-started-right-arrow">&#8594;</span></a></div>
            <div class="contact-us"><a href="/contact">Contact US</a></div>
        </div>
    </nav>
</div>