<!-- Important: 1st part Navigation Bar (Vertical (Side Navigation bar)) -->
<!-- Theory: For making the side-navigation-bar overlay -->
<aside>
    <div class="side-navigation-bar-content">
        <h2>KEBER</h2>
        <ul>
            <li class="icon-content"><i class="fas fa-home"></i> <a href="/">Home</a> </li>
            <li class="icon-content"><i class="fas fa-user"></i> <a href="/about">About Us</a></li>
            <li class="icon-content"><i class="fas fa-users-cog"></i> <a href="/roles">Roles</a></li>
            <li class="icon-content"><i class="fas fa-question"></i> <a href="/faq">FAQs</a></li>
            <li class="icon-content"><i class="fas fa-phone-alt"></i> <a href="/contact">Contact
                    Us</a></li>
        </ul>
    </div>

</aside>