<div class="side-navigation-bar-container">
    <!-- Theory: For making the hamburger-cross animated icon -->
    <nav class="side-navigation-bar">
        <span></span>
        <span></span>
        <span></span>
    </nav>

    <nav class="heading">KEBER</nav>
</div>