@keyframes disappear {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  20% {
    transform: scale(0.8);
  }

  30% {
    transform: scale(0.7);
  }

  40% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.5);
  }

  60% {
    transform: scale(0.4);
  }

  70% {
    transform: scale(0.3);
  }

  80% {
    transform: scale(0.2);
  }

  90% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes appear-scale {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(0.1);
  }

  20% {
    transform: scale(0.2);
  }

  30% {
    transform: scale(0.3);
  }

  40% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.5);
  }

  60% {
    transform: scale(0.6);
  }

  70% {
    transform: scale(0.7);
  }

  80% {
    transform: scale(0.8);
  }

  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes appear-translate {
  0% {
    transform: translateX(500px);
  }

  10% {
    transform: translateX(450px);
  }

  20% {
    transform: translateX(400px);
  }

  30% {
    transform: translateX(350px);
  }

  40% {
    transform: translateX(300px);
  }

  50% {
    transform: translateX(250px);
  }

  60% {
    transform: translateX(200px);
  }

  70% {
    transform: translateX(150px);
  }

  80% {
    transform: translateX(100px);
  }

  90% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(00px);
  }
}
